@model SecureXWebApp.Models.CreditCard

@{
    ViewData["Title"] = "Approve Credit Card";
}

<h2>Approve Credit Card</h2>

<h3>Are you sure you want to approve this credit card?</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Approve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" readonly="readonly" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" readonly="readonly" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditLine" class="control-label"></label>
                <input asp-for="CreditLine" class="form-control" readonly="readonly" />
                <span asp-validation-for="CreditLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditLimit" class="control-label"></label>
                <input asp-for="CreditLimit" class="form-control" readonly="readonly" />
                <span asp-validation-for="CreditLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentDebt" class="control-label"></label>
                <input asp-for="CurrentDebt" class="form-control" readonly="readonly" />
                <span asp-validation-for="CurrentDebt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" readonly="readonly" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Approve" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to All Credit Cards</a>
</div>
