@model SecureXWebApp.Models.Account

@{
    ViewData["Title"] = "Open New Account";
}

<h2>Open New Account</h2>

<h4>Request Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                @*Checkbox here for choosing savings or checking account*@
                <label asp-for="AccountType" class="control-label"></label><br />                
                @Html.RadioButtonFor(m => m.AccountType, "Savings")
                <label class="radio-inline">Savings</label>
                @Html.RadioButtonFor(m => m.AccountType, "Checking")
                <label class="radio-inline">Checking</label><br />
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label class="control-label">Opening Balance</label>
                <input asp-for="Funds" class="form-control" />
                <span asp-validation-for="Funds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Request" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to My Accounts</a>
</div>

